@charset "utf-8";
/* CSS Document */

.body{
	font-size: medium;
	margin: 0px;
	padding: 0px;
	text-align: left;
    direction: ltr;
	font-family: sans-serif;
	background-color:#eee;
}

.main{
	max-width:600px;
	margin:0 auto;
}
