/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 45px !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
}

a {
    color: #FF9B22;
}
a:hover {
    color: #e0881e;
    text-decoration: none;
}

#head { background:#181015 url(../../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:140px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }

.label-orange {
    background-color: #F78839;
}

.tab-content {
    padding: 10px;
    border: 1px solid #dddddd;
    border-top: 0;
    margin-top: -1px;
}

.profile-body h2 {
    margin-top: 5px;
}

.navbar-inverse {
    background-color: #E87D32;
}
.navbar-inverse .navbar-brand img {
    margin-top: -20px;
}

.navbar-nav .dropdown-menu {
    background-color: #dd7730;
}

/* Pagination */
.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>span,
.pagination>li>span:hover,
.pagination>.disabled>a,
.pagination>.disabled>span {
    color: #FF9B22;
    border-color: #FF9B22;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color:#FFEFD7;
    background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%);
    background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #FF9B22;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #999 !important;
    background-color: transparent !important;
    cursor: not-allowed;
    border-color: #FF9B22;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}